services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=${VITE_API_URL}
    container_name: ice-mankora-front
    restart: always
    ports:
      - "4000:4000"
